<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>englishBoost</title>

    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  </head>

<!-- https://bootstrap-vue.js.org/docs/components -->
  <body>
    <div id="app">
      <b-container fluid>
        <b-row>
	        <b-col>
	        	<h1>English Boost</h1>
		    	<p>Boost English learning with customized dictionaries (отмечать Парето слова в exploreMode)</p>
	        </b-col>
	    </b-row>

        <template v-if="exploreMode">
            <b-row>
                <b-col>
                    <b-button size="sm" variant="outline-secondary" @click="exploreBook(null)">Back</b-button>
                    <div class="float-right">
                        <b-check-group button-variant="outline-secondary" size="sm" buttons :options="sorts">
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-pagination-nav align="center" base-url="#"
                      :number-of-pages="Math.ceil(currentBook.words.length/200)"
                      v-model="currentPage" />
                </b-col>
            </b-row>
            <b-row>
                <b-col v-for="(wordColumn, index) in currentBook.getPage(currentPage, 8)" :key="index">
                    <words :batch="wordColumn"></words>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-button size="sm" variant="outline-secondary" @click="exploreBook(null)">Back</b-button>
                </b-col>
            </b-row>
        </template>

        <b-row v-if="!exploreMode">
	        <b-col>
                <b-form-group>
    	        	<b-file accept="text/*" id="file_input" v-model="textFile"></b-file>
                </b-form-group>

                <b-card v-if="newBook">
                    <b-form-group>
                        <b-input v-model="newBook.title"></b-input>
                        <b-input v-model="newBook.description" placeholder="description"></b-input>
                    </b-form-group>
                    <p class="card-text">Total words: {{ newBook.totalWordCount }}</p>
                    <p class="card-text">Uniq words:  {{ newBook.words.length }}</p>
                    <p class="card-text">Из них будет добавлено тудато и тудато...</p>
                    <b-button size="sm" variant="outline-secondary" @click="addBook">Add to library</b-button>
                </b-card>
	        </b-col>

	        <b-col>
                <b>Library</b>
                <div v-for="book in books" v-if="!exploreMode">
                    <b-card :title="book.title + ' (' + book.words.length + ')'">
                        <p class="card-text">{{book.description}}</p>
                        <b-form-group>
                            <b-progress class="mt-1" show-value>
                                <b-progress-bar show-progress :value="100" variant="danger"></b-progress-bar>
                            </b-progress>
                        </b-form-group>
                        <b-form-group>
                            <b-button size="sm" variant="outline-secondary" @click="exploreBook(book)">Explore</b-button>
                            <b-button size="sm" variant="outline-danger" @click="deleteBook(book)">Delete</b-button>
                        </b-form-group>
                    </b-card>
                </div>
            </b-col>

            <b-col>
                <b>Common dictionaries</b>
                <b-card  v-for="(dict, dictName) in dicts" :key="dictName" :title="dict.type + ' (' + dict.words.length + ')'">
                    <p class="card-text">{{dict.description}}</p>
                    <b-form-group>
                        <b-progress class="mt-1" show-value>
                            <b-progress-bar show-progress :value="100" :variant=dict.variant></b-progress-bar>
                        </b-progress>
                    </b-form-group>
                    <b-form-group>
                        <b-button size="sm" variant="outline-secondary" @click="exploreDict(dict)">Explore</b-button>
                    </b-form-group>
                </b-card>
	        </b-col>
	    </b-row>
      </b-container>
    </div>

    <script>

    function Dictionary(words, type, variant, description) {
        this.words = words;
        this.type = type;
        this.variant = variant;
        this.description = description;
    }

    function Book(text, title, description = null) {
        this.phrases = [];
        this.totalWordCount = 0;
        this.words = [];
        this.pareto = [];
        this.paretoLimit = 0.8;
        this.title = title;
        this.description = description;

        this.objectSort = function(obj) {
            var sortable = [];
            for (var property in obj) {
                sortable.push([property, obj[property]]);
            }
            sortable.sort(function(a, b) {
                return b[1] - a[1];
            });
            return sortable;
        }

        this.getPage = function(page, columnCount) {
            var wordsInPage = Math.ceil(this.words.length / page) * 200;
            var page = this.words.slice((page-1)*200, page*200);

            var wordsInColumn = Math.ceil(page.length / (columnCount));

            var batches = [];
            var batch = [];
            for (var i = 0; i < page.length; i++) {
                batch.push(page[i]);
                if ((i+1) % wordsInColumn == 0) {
                    batches.push(batch);
                    batch = [];
                }
            }
            batches.push(batch);
            return batches;
        }

        // set type for each word
        this.markWords = function(dict) {
            var type = dict.type;
        }

        this.phrases = text.split(/[.!?]/).filter(function(phrase){
            return phrase.length > 0;
        });

        var words = text.split(/(\s+)/);
        for (var i = 0; i < words.length - 1; i++) {
            words[i] += " ";
        }
        this.totalWordCount = words.length;

        words = words.map(function(word){
            // left+right smart trim
            return word.toLowerCase().replace(/^\W+/, '').replace(/\W+$/, '');
        }).filter(function(word){
            return word.length > 0;
        });

        var uniqWords = {};
        for (var i = 0; i < words.length; i++) {
            var word = words[i];
            if (uniqWords.hasOwnProperty(word) ) {
                uniqWords[word]++;
            } else {
                uniqWords[word] = 1;
            }
        }
        this.words = this.objectSort(uniqWords);

        var acc = 0;
        for (var i = 0; i < this.words.length; i++) {
            this.pareto.push(this.words[i][0]);
            acc += this.words[i][1];
            if (acc > this.words.length * this.paretoLimit) {
                break;
            }
        }
    }

    Vue.component('words', {
        props: ['batch'],
        data: function() {
            return {
                states: [
                    {name: 'unknown', style: ''},
                    {name: 'learn', style: 'background-color: #ffc107;'},
                    {name: 'known', style: 'background-color: #28a745;'}
                ]
            }
        },
        template: '\
            <div>\
                <div v-for="word in batch">\
                    <p state="unknown" @click="toggle">{{ word[0] }}</p>\
                </div>\
            </div>',
        methods: {
            toggle: function(event) {
                var word = event.target.textContent;
                var state = event.target.attributes.state.nodeValue;

                var newState = null;
                for (var i = 0; i < this.states.length; i++) {
                    if (this.states[i].name == state) {
                        newState = this.states[(i + 1) % this.states.length];
                    }
                }

                event.target.attributes.state.nodeValue = newState.name;
                event.target.style = newState.style;

                this.$root.$emit('toggleStateWord', {word: word, oldState:state, newState: newState.name});
            }
        }
    });

    window.app = new Vue({
        el: "#app",
        data: {
			textFile: null, // File object
			text: null,
            newBook: null,

            books: [],

            dicts: {
                unknown:  new Dictionary([], 'unknown', 'danger', 'Что не знаю'),
                learn:    new Dictionary([], 'learn', 'warning',  'Что изучить'),
                known:    new Dictionary([], 'known', 'success',  'Что знаю'),
                stopword: new Dictionary([], 'stopwords', 'info', 'НЕ существительные/глаголы/прилагательные'),
            },

            currentBook: null,
            exploreMode: false,
            currentPage: 1,

            sorts: [
                { text: 'Sort by frequency', value: 1 },
                { text: 'Sort by alphabet', value: 2 },
                { text: 'Sort by type', value: 3 },
            ]
        },
        watch: {
			textFile: function() {
				if (this.textFile) {
					var reader = new FileReader();
					reader.onload = function() {
						app.text = reader.result;
						app.newBook = new Book(app.text, app.textFile.name);
					};
					reader.readAsText(app.textFile);
				}
			},
        },
        methods: {
            addBook: function(event) {
                this.books.push(this.newBook);
                this.dicts.unknown.words = this.dicts.unknown.words.concat(this.newBook.words);
                this.newBook = null;
            },
            parseBook: function(book) {
                alert("TODO");
            },
            deleteBook: function(book) {
                this.books = this.books.filter(function(item) {
                    return item.title != book.title;
                });
            },
            exploreBook: function(book) {
                this.currentBook = book;
                this.exploreMode = !this.exploreMode;
            },
            exploreDict: function(dict) {
                alert("TODO");
            },
        },
        mounted: function () {
            this.$root.$on('toggleStateWord', function (data) {
                this.dicts[data.oldState].words = this.dicts[data.oldState].words.filter(function(word){
                    return word != data.word;
                });
                this.dicts[data.newState].words.push(data.word);
            });
        }
    });
    </script>

  </body>
</html>